/QuickMath/.vs
/QuickMath/QuickMath.Shared/bin
/QuickMath/QuickMath.Shared/obj
/QuickMath/QuickMath/bin
/QuickMath/QuickMath/obj
/QuickMath/QuickMath.Web/obj
/QuickMath/QuickMath.Web.Client/obj
/bin/Debug
/obj/Debug
/obj
/.vs
/bin/Release/net10.0/browser-wasm
/bin
