/.vs
/QuickMath.Shared/obj
/QuickMath/obj
/QuickMath.Web/obj
/QuickMath.Web.Client/obj
/QuickMath.Shared/bin
/QuickMath/bin
QuickMath/Platforms/Android/google-services.json
QuickMath/Secrets.cs
/QuickMath.Web.Client/bin
/QuickMath.Web/bin
/build
