@page "/"
@using QuickMath.Shared.Services
@inject IFormFactor FormFactor



<PageTitle>Home</PageTitle>

<h2 Color="Color.Primary">
    Welcome back <strong class="welcome-back-Username">@Username</strong> 
</h2>



@code {

   public string Username = "Jhonn Doe" ;

}

<style>

    .welcome-back {
        lighting-color: #8e24ff;
        color: #8e24ff;
    }

    .welcome-back-Username {
        lighting-color: #8e24ff;
        color: #8e24ff;

    }
 
</style>
